In [1]:
import pickle
import pandas as pd
with open('/content/housepricing','rb') as f:
  reg = pickle.load(f)

In [4]:
import pandas as pd
df = pd.read_csv("/content/clientfile.csv")
df

    area  bedroom  age
0   3000        3   10
1   6000        6   11
2   9000        9    8
3  12000       12    5

In [5]:
reg.predict(df)

array([16357859.82648536, 30764769.96899941, 46617846.52850924,
       62470923.08801907])