#### Problem Statement
Predict the price of a house based on its age, number of bedrooms it have and the area(Sq.ft) of house.

#### The Dataset used here is own dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/Housepricing.csv')
df

   area  bedroom  age     price
0  2200      3.0   20   8400000
1  2600      2.0   15  13000000
2  3000      4.0   14  15000000
3  3200      NaN   25  12000000
4  3600      3.0   10  19000000
5  4000      5.0    8  22000000

In [4]:
df.isnull()

    area  bedroom    age  price
0  False    False  False  False
1  False    False  False  False
2  False    False  False  False
3  False     True  False  False
4  False    False  False  False
5  False    False  False  False

In [7]:
median = df['bedroom'].median()

In [10]:
df['bedroom'] = df['bedroom'].fillna(median)
df

   area  bedroom  age     price
0  2200      3.0   20   8400000
1  2600      2.0   15  13000000
2  3000      4.0   14  15000000
3  3200      3.0   25  12000000
4  3600      3.0   10  19000000
5  4000      5.0    8  22000000

In [14]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
x = df.drop('price', axis = 1)
x

   area  bedroom  age
0  2200      3.0   20
1  2600      2.0   15
2  3000      4.0   14
3  3200      3.0   25
4  3600      3.0   10
5  4000      5.0    8

In [16]:
y = df['price']
y

0     8400000
1    13000000
2    15000000
3    12000000
4    19000000
5    22000000
Name: price, dtype: int64

In [18]:
reg.fit(x,y)
import warnings
warnings.filterwarnings("ignore")

In [20]:
reg.predict([[5000,5,3]])

array([28734285.55406997])

In [22]:
print(reg.score(x,y))
print(reg.intercept_)
print(reg.coef_)

0.9965407980560912
5204824.122211814
[   5016.75865771  -93941.40878468 -361541.60424894]

# Importing pickle to download the model

In [24]:
import pickle
with open('housepricing','wb') as f:
  pickle.dump(reg,f)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7b8d9943-677a-4f6c-bc23-db8736c52eff' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>